<div class="content">
	<footer id="footer">

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. 
		</p>
		<nav class="menu">
			<ul>
				<li class="">
					<a href="acerca.html">Acerca</a>
				</li><li class=" external">
					<a target="_blank" href="blog.html">Blog</a>
				</li><li class=" external">
					<a target="_blank" href="eventos.html">Eventos</a>
				</li><li class=" external">
					<a target="_blank" href="hangouts.html">Hangouts</a>
				</li><li class="">
					<a href="comunidades.html">Comunidades</a>
				</li><li class="">
					<a href="sponsors.html">Sponsors</a>
				</li>
			</ul>
		</nav>

		<p>Síguenos en</p>
		<a href="http://bogotajs.org" title="">BogotáJS</a> -
		<a href="http://bogotajs.org" title="">MedellínJS</a> -
		<a href="#" title="">Twitter</a> -
		<a href="#" title="">Tumblr</a> -
		<a href="#" title="">Google+</a>
	</footer>
</div>
