<div class="content">
	<header class="main-header">
		<h1><a href="/" class="main-header__logo">ColJS</a></h1>
		<nav class="main-header__menu">
			<a href="acerca.html">Acerca</a>
			<a href="comunidades.html">Comunidades</a>
			<a href="sponsors.html">Sponsors</a>
			<i></i>
			<a class="main-header__special-link--blog" target="_blank" href="blog.html">Blog</a>
			<a class="main-header__special-link--events" target="_blank" href="eventos.html">Eventos</a>
			<a class="main-header__special-link--hg" target="_blank" href="hangouts.html">Hangouts</a>
		</nav>
	</header>
</div>